<div id="joyers_carousel_article" class="w-full py-14">
    <div class="joyers_max_width grid grid-cols-12">
        <h2 class="joyers_title_section col-start-4 col-end-10 text-center">A Dependable Partner For QSR’s and Restaurants</h2>
        <div class="h-1 bg-joyers col-start-5 col-end-9 grid grid-cols-4 mt-4">
            <div class="bg-black col-start-4 col-end-5 h-full"></div>
        </div>
    </div>
        <div class="grid grid-cols-12 gap-3 place-items-end ">
            <div class="col-start-1 col-end-13 swiffy-slider slider-item-show2 slider-item-reveal slider-nav-outside slider-nav-round slider-nav-visible slider-indicators-outside slider-indicators-round slider-indicators-dark slider-nav-animation slider-nav-animation-fadein py-0">
                <ul class="joyers_collection_article flex flex-row gap-3 col-start-1 col-end-8 slider-container">
                    <li>
                        <a class="joyers_item_article" href="">
                            <img src="images/article/article1.png">
                            <div class="pb-3">
                                <span>Article Titile Lorem Ipsum Dolor Sit Amet</span>
                            </div>
                            <span>Profile</span><img class="joyers_arrow_enter" src="images/svg/icon_arrow_right_pink.svg" alt="" srcset="">
                        </a>
                    </li>
                    <li>
                        <a class="joyers_item_article" href="">
                            <img src="images/article/article1.png">
                            <div class="pb-3">
                                <span>Article Titile Lorem Ipsum Dolor Sit Amet</span>
                            </div>
                            <span>Profile</span><img class="joyers_arrow_enter" src="images/svg/icon_arrow_right_pink.svg" alt="" srcset="">
                        </a>
                    </li>
                    <li>
                        <a class="joyers_item_article" href="">
                            <img src="images/article/article1.png">
                            <div class="pb-3">
                                <span>Article Titile Lorem Ipsum Dolor Sit Amet</span>
                            </div>
                            <span>Profile</span><img class="joyers_arrow_enter" src="images/svg/icon_arrow_right_pink.svg" alt="" srcset="">
                        </a>
                    </li>
                    <li>
                        <a class="joyers_item_article" href="">
                            <img src="images/article/article1.png">
                            <div class="pb-3">
                                <span>Article Titile Lorem Ipsum Dolor Sit Amet</span>
                            </div>
                            <span>Profile</span><img class="joyers_arrow_enter" src="images/svg/icon_arrow_right_pink.svg" alt="" srcset="">
                        </a>
                    </li>
                    <li>
                        <a class="joyers_item_article" href="">
                            <img src="images/article/article1.png">
                            <div class="pb-3">
                                <span>Article Titile Lorem Ipsum Dolor Sit Amet</span>
                            </div>
                            <span>Profile</span><img class="joyers_arrow_enter" src="images/svg/icon_arrow_right_pink.svg" alt="" srcset="">
                        </a>
                    </li>
                    <li>
                        <a class="joyers_item_article" href="">
                            <img src="images/article/article1.png">
                            <div class="pb-3">
                                <span>Article Titile Lorem Ipsum Dolor Sit Amet</span>
                            </div>
                            <span>Profile</span><img class="joyers_arrow_enter" src="images/svg/icon_arrow_right_pink.svg" alt="" srcset="">
                        </a>
                    </li>
                    <li>
                        <a class="joyers_item_article" href="">
                            <img src="images/article/article1.png">
                            <div class="pb-3">
                                <span>Article Titile Lorem Ipsum Dolor Sit Amet</span>
                            </div>
                            <span>Profile</span><img class="joyers_arrow_enter" src="images/svg/icon_arrow_right_pink.svg" alt="" srcset="">
                        </a>
                    </li>
                    <li>
                        <a class="joyers_item_article" href="">
                            <img src="images/article/article1.png">
                            <div class="pb-3">
                                <span>Article Titile Lorem Ipsum Dolor Sit Amet</span>
                            </div>
                            <span>Profile</span><img class="joyers_arrow_enter" src="images/svg/icon_arrow_right_pink.svg" alt="" srcset="">
                        </a>
                    </li>
                    <li>
                        <a class="joyers_item_article" href="">
                            <img src="images/article/article1.png">
                            <div class="pb-3">
                                <span>Article Titile Lorem Ipsum Dolor Sit Amet</span>
                            </div>
                            <span>Profile</span><img class="joyers_arrow_enter" src="images/svg/icon_arrow_right_pink.svg" alt="" srcset="">
                        </a>
                    </li>
                    <li>
                        <a class="joyers_item_article" href="">
                            <img src="images/article/article1.png">
                            <div class="pb-3">
                                <span>Article Titile Lorem Ipsum Dolor Sit Amet</span>
                            </div>
                            <span>Profile</span><img class="joyers_arrow_enter" src="images/svg/icon_arrow_right_pink.svg" alt="" srcset="">
                        </a>
                    </li>
                    <li>
                        <a class="joyers_item_article" href="">
                            <img src="images/article/article1.png">
                            <div class="pb-3">
                                <span>Article Titile Lorem Ipsum Dolor Sit Amet</span>
                            </div>
                            <span>Profile</span><img class="joyers_arrow_enter" src="images/svg/icon_arrow_right_pink.svg" alt="" srcset="">
                        </a>
                    </li>
                    <li>
                        <a class="joyers_item_article" href="">
                            <img src="images/article/article1.png">
                            <div class="pb-3">
                                <span>Article Titile Lorem Ipsum Dolor Sit Amet</span>
                            </div>
                            <span>Profile</span><img class="joyers_arrow_enter" src="images/svg/icon_arrow_right_pink.svg" alt="" srcset="">
                        </a>
                    </li>
                    <li>
                        <a class="joyers_item_article" href="">
                            <img src="images/article/article1.png">
                            <div class="pb-3">
                                <span>Article Titile Lorem Ipsum Dolor Sit Amet</span>
                            </div>
                            <span>Profile</span><img class="joyers_arrow_enter" src="images/svg/icon_arrow_right_pink.svg" alt="" srcset="">
                        </a>
                    </li>
                </ul>
                <div class="flex flex-row col-start-8 col-end-10 grid-flow-col auto-cols-max items-center justify-center w-full">
                    <div class="grid grid-flow-col auto-cols-max gap-3 items-center ">
                        <button type="button" aria-label="Go left" class="slider-nav joyers_button joyers_button_white joyers_button_circle grid grid-cols-auto gap-2 border border-joyers"><img src="images/svg/icon_arrow_circle_left.svg" alt="" srcset=""></button>
                        <a class="joyers_button joyers_button_white joyers_button_nofill grid grid-cols-auto gap-2 items-center">See all</a>
                        <button type="button" aria-label="Go left" class="slider-nav slider-nav-next joyers_button joyers_button_circle grid grid-cols-auto gap-2 "><img src="images/svg/icon_arrow_circle_right.svg" alt="" srcset=""></button>
                    </div>
                </div>
            </div>
        </div>
</div>