<div id="joyers_carousel_article" class="w-full pt-14">
    <div class="joyers_max_width grid grid-cols-12">
        <h2 class="joyers_title_section col-start-4 col-end-10 text-center">Infinite Formulations and Formats</h2>
        <div class="h-1 bg-joyers col-start-5 col-end-9 grid grid-cols-4 mt-4 mb-8">
            <div class="bg-black col-start-4 col-end-5 h-full"></div>
        </div>
    </div>
    <div class="flex justify-between items-center">
        <img src="images/img_infinity.png" alt="" srcset="">
        <a class="joyers_button grid grid-cols-auto gap-2 ">Become a Customer <img src="images/svg/icon_arrow_right.svg" alt="" srcset=""></a>
        <img src="images/img_infinity.png" alt="" srcset="">
    </div>
</div>