<footer id="joyers_footer" class="w-full py-14">
    <div class="joyers_max_width">
        <div class="grid grid-cols-12">
            <img src="images/svg/logo_joyers.svg" alt="" srcset="">
            <div class="col-start-2 col-end-13 grid grid-cols-5">
                <div class="joyers_footer_list">
                    <span>WHO WE ARE</span>
                    <ul>
                        <li><a href="https://">About us</a></li>
                        <li><a href="https://">Values and leadership</a></li>
                        <li><a href="https://">Testimonials</a></li>
                        <li><a href="https://">Sustainability</a></li>
                    </ul>
                </div>
                <div class="joyers_footer_list">
                    <span>WHAT WE MAKE</span>
                    <ul>
                        <li><a href="https://">Bars</a></li>
                        <li><a href="https://">Baking</a></li>
                        <li><a href="https://">Fresh and frozen</a></li>
                        <li><a href="https://">Packaging</a></li>
                        <li><a href="https://">See all</a></li>
                    </ul>
                </div>
                <div class="joyers_footer_list">
                    <span>PLACES</span>
                    <ul>
                        <li><a href="https://">Hearthside Europe</a></li>
                    </ul>
                </div>
                <div class="joyers_footer_list">
                    <span>CONTACT HEARTHSIDE</span>
                    <ul>
                        <li><a href="https://">Become a customer</a></li>
                        <li><a href="https://">General inquiry</a></li>
                        <li><a href="https://">Investor relations</a></li>
                    </ul>
                </div>
                <div class="joyers_footer_list">
                    <span>WHY HEARTHSIDE</span>
                    <ul>
                        <li><a href="https://">High quality at lower costs</a></li>
                        <li><a href="https://">Operational efficiency</a></li>
                        <li><a href="https://">World-class safety</a></li>
                        <li><a href="https://">Production network</a></li>
                    </ul>
                </div>
                <div class="joyers_footer_list">
                    <span>TALKING SHOP</span>
                    <ul>
                        <li><a href="https://">Solutions</a></li>
                        <li><a href="https://">Profiles</a></li>
                        <li><a href="https://">News</a></li>
                    </ul>
                </div>
                <div class="joyers_footer_list">
                    <span>WORK AT HEARTHSIDE</span>
                    <ul>
                        <li><a href="https://">Browse jobs</a></li>
                        <li><a href="https://">Hourly</a></li>
                        <li><a href="https://">Salary</a></li>
                        <li><a href="https://">Culture</a></li>
                        <li><a href="https://">FAQ</a></li>
                    </ul>
                </div>
                <div class="joyers_footer_list">
                    <span></span>
                    <ul>
                        <li><a href="https://"></a></li>
                    </ul>
                </div>
                <div class="joyers_footer_list">
                    <span></span>
                    <div class="grid grid-flow-col auto-cols-max gap-5">
                        <a href="https://"><img src="images/svg/icon_instagram.svg" alt="" srcset=""></a>
                        <a href="https://"><img src="images/svg/icon_facebook.svg" alt="" srcset=""></a>
                        <a href="https://"><img src="images/svg/icon_twitter.svg" alt="" srcset=""></a>
                    </div>
                </div>
                <div class="joyers_footer_list">
                    <span></span>
                    <ul>
                        <li><a href="https://"></a></li>
                        <li><a href="https://"></a></li>
                        <li><a href="https://"></a></li>
                        <li><a href="https://"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="flex fle-row justify-between">
            <a href="https://">© Joyers LLC | All Rights Reserved</a>
            <div>
                <a href="http://">Privacy policy</a>
                <a href="http://">Terms of use</a>
            </div>
        </div>
    </div>
</footer>