<div id="joyers_header" class="h-12 pt-6 pb-3">
    <div class="joyers_max_width">
        <div>
            <div class="joyers_subtitle">
                <img class="inline-block align-middle rotate-12" src="images/svg/icon_rocket.svg">
                Hello Worl! We Are
            </div>
            <h1 class="uppercase ">Crafting some of India’s most beloved foods</h1>
        </div>
        <a class="joyers_button grid grid-cols-auto gap-2 ">Become a Customer <img src="images/svg/icon_arrow_right.svg" alt="" srcset=""></a>
        <a class="joyers_button joyers_button_white grid grid-cols-auto gap-2 ">Why Joyers?</a>
    </div>
</div>