<div id="joyers_header" class="pt-6 pb-3">
    <div class="joyers_max_width">
        <div>
            <div class="joyers_subtitle h-12">
                <img class="inline-block align-middle rotate-12" src="images/svg/icon_rocket.svg">
                Hello Worl! We Are
            </div>
            <h1 class="uppercase w-1/2">Crafting some of India’s most beloved foods</h1>
        </div>
        <div class="grid grid-flow-col auto-cols-max gap-4 pt-6 pb-14">
            <a class="joyers_button grid grid-cols-auto gap-2 ">Become a Customer <img src="images/svg/icon_arrow_right.svg" alt="" srcset=""></a>
            <a class="joyers_button joyers_button_white grid grid-cols-auto gap-2 ">Why Joyers?</a>
        </div>
    </div>
    <div class="">
        <div class="">
            <div class="swiffy-slider slider-item-show3 slider-nav-round slider-nav-page">
                <div class="joyers_collection_product auto-cols-max slider-container gap-3">
                    <div>
                        <a class="joyers_item_product" href="">
                            <div class="">
                                <span>Momos</span><img src="images/svg/icon_arrow_right_pink.svg" alt="" srcset="">
                            </div>
                        </a>
                    </div>
                    <div>
                        <a class="joyers_item_product" href="">
                            <div class="">
                                <span>Crunchy Chicken</span><img src="images/svg/icon_arrow_right_pink.svg" alt="" srcset="">
                            </div>
                        </a>
                    </div>
                    <div>
                        <a class="joyers_item_product" href="">
                            <div class="">
                                <span>Parathas</span><img src="images/svg/icon_arrow_right_pink.svg" alt="" srcset="">
                            </div>
                        </a>
                    </div>
                    <div>
                        <a class="joyers_item_product" href="">
                            <div class="">
                                <span>Chicken Seekh Kebab</span><img src="images/svg/icon_arrow_right_pink.svg" alt="" srcset="">
                            </div>
                        </a>
                    </div>
                    <div>
                        <a class="joyers_item_product" href="">
                            <div class="">
                                <span>Chicken Seekh Kebab</span><img src="images/svg/icon_arrow_right_pink.svg" alt="" srcset="">
                            </div>
                        </a>
                    </div>
                    <div>
                        <a class="joyers_item_product" href="">
                            <div class="">
                                <span>Chicken Seekh Kebab</span><img src="images/svg/icon_arrow_right_pink.svg" alt="" srcset="">
                            </div>
                        </a>
                    </div>
                    <div>
                        <a class="joyers_item_product" href="">
                            <div class="">
                                <span>Chicken Seekh Kebab</span><img src="images/svg/icon_arrow_right_pink.svg" alt="" srcset="">
                            </div>
                        </a>
                    </div>
                    <div>
                        <a class="joyers_item_product" href="">
                            <div class="">
                                <span>Chicken Seekh Kebab</span><img src="images/svg/icon_arrow_right_pink.svg" alt="" srcset="">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="flex flex-row col-start-8 col-end-10 grid-flow-col auto-cols-max items-center justify-between w-full">
                    <div class="grid grid-flow-col auto-cols-max gap-3">
                        <button type="button" aria-label="Go left" class="slider-nav joyers_button joyers_button_white joyers_button_circle grid grid-cols-auto gap-2 border border-joyers"><img src="images/svg/icon_arrow_circle_left.svg" alt="" srcset=""></button>
                        <button type="button" aria-label="Go left" class="slider-nav slider-nav-next joyers_button joyers_button_circle grid grid-cols-auto gap-2 "><img src="images/svg/icon_arrow_circle_right.svg" alt="" srcset=""></button>
                    </div>
                    <a class="joyers_button joyers_button_white joyers_button_nofill grid grid-cols-auto gap-2 items-center">See all<img src="images/svg/icon_grid.svg" alt="" srcset=""></a>
                </div>
                <div class="col-start-11 col-end-13 h-5 bg-joyers w-full joyers_after_line_black relative"></div>
            </div>
        </div>
    </div>
</div>