<div id="joyers_carousel_article" class="w-full py-14">
    <div class="joyers_max_width grid grid-cols-12">
        <h2 class="joyers_title_section col-start-4 col-end-10 text-center">A Dependable Partner For QSR’s and Restaurants</h2>
        <div class="h-1 bg-joyers col-start-5 col-end-9 grid grid-cols-4 mt-4 mb-8">
            <div class="bg-black col-start-4 col-end-5 h-full"></div>
        </div>
    </div>
    <div class="grid grid-cols-12 place-items-end joyers_max_width">
                <ul class="col-start-1 col-end-13 joyers_collection_large_article joyers_collection_article  gap-x-3 gap-y-6 grid grid-cols-2">
                    <li class="">
                        <a class="joyers_item_article" href="">
                            <div class="">
                                <span>Article Titile Lorem Ipsum Dolor Sit Amet</span>
                            </div>
                            <span>Profile</span><img class="joyers_arrow_enter" src="images/svg/icon_arrow_right_pink.svg" alt="" srcset="">
                            <img class="mt-6" src="images/article/img_thumbnail_large_article.png">
                        </a>
                    </li>
                    <li class="">
                        <a class="joyers_item_article" href="">
                            <div class="">
                                <span>Article Titile Lorem Ipsum Dolor Sit Amet</span>
                            </div>
                            <span>Profile</span><img class="joyers_arrow_enter" src="images/svg/icon_arrow_right_pink.svg" alt="" srcset="">
                            <img class="mt-6" src="images/article/img_thumbnail_large_article.png">
                        </a>
                    </li>
                    <li class="">
                        <a class="joyers_item_article" href="">
                            <div class="">
                                <span>Article Titile Lorem Ipsum Dolor Sit Amet</span>
                            </div>
                            <span>Profile</span><img class="joyers_arrow_enter" src="images/svg/icon_arrow_right_pink.svg" alt="" srcset="">
                            <img class="mt-6" src="images/article/img_thumbnail_large_article.png">
                        </a>
                    </li>
                    <li class="">
                        <a class="joyers_item_article" href="">
                            <div class="">
                                <span>Article Titile Lorem Ipsum Dolor Sit Amet</span>
                            </div>
                            <span>Profile</span><img class="joyers_arrow_enter" src="images/svg/icon_arrow_right_pink.svg" alt="" srcset="">
                            <img class="mt-6" src="images/article/img_thumbnail_large_article.png">
                        </a>
                    </li>
                </ul>
    </div>
</div>