<div class="joyers_nav">
    <div class="joyers_max_width">
        <nav class="grid grid-cols-12 gap-3 items-center">
            <img class="col-start-1 col-end-2" src="images/svg/logo_joyers.svg" alt="" srcset="">
            <ul class="col-start-2 col-end-10 grid grid-flow-col auto-cols-max items-center">
                <li class="joyers_nav_dropdown"><a href="http://">Who we are?</a></li>
                <li class="joyers_nav_dropdown"><a href="http://">What we make</a></li>
                <li class="joyers_nav_dropdown"><a href="http://">Why Joyers</a></li>
                <li class="ml-4 joyers_nav_small"><a href="http://">Neews</a></li>
                <li class="joyers_nav_small"><a href="http://">Careers</a></li>
            </ul>
            <a class="col-start-10 col-end-13 w-fit place-self-end" href="" id="joyers_whatsapp">Send Us Whatsapp <img src="images/svg/icon_whatsapp.svg" alt="" srcset=""></a>
        </nav>
    </div>
</div>